# StringMethods

 * 'capitalize',
 * 'casefold',
 * 'center',
 * 'count',
 * 'encode',
 * 'endswith',
 * 'expandtabs',
 * 'find',
 * 'format',
 * 'format_map',
 * 'index',
 * 'isalnum',
 * 'isalpha',
 * 'isascii',
 * 'isdecimal',
 * 'isdigit',
 * 'isidentifier',
 * 'islower',
 * 'isnumeric',
 * 'isprintable',
 * 'isspace',
 * 'istitle',
 * 'isupper'
 * 'join',
 * 'ljust',
 * 'lower',
 * 'lstrip',
 * 'maketrans',
 * 'partition',
 * 'removeprefix',
 * 'removesuffix',
 * 'replace',
 * 'rfind',
 * 'rindex',
 * 'rjust',
 * 'rpartition',
 * 'rsplit',
 * 'rstrip',
 * 'split',
 * 'splitlines',
 * 'startswith',
 * 'strip',
 * 'swapcase',
 * 'title',
 * translate',
 * 'upper',
 * 'zfill'
 * Find
 * rfind
 * count
 * Index
 * rindex
 * Replace
 * Split
 * rsplit
 * Partition
 * rpartition
 * Splitlines

## > Capitalize

* It returns a copy of the string with its first character capitalized and the rest lowercased.
* Working Rule:
    * string.capitalize()
* Returns capitalized string.

In [1]:
# example 1
str1 = 'hello cutie!'
str1.capitalize() # converted a sentence initial into capital letter

'Hello cutie!'

In [141]:
# example 2
str2 = 'a loyal warrior will rarely worry why we rule.'
str2.capitalize()

'A loyal warrior will rarely worry why we rule.'

#### Document of capitalize

In [3]:
help(str1.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

## > Casefold
* It converts all the uppercase letters in a string to lowercase letters. casefold() is similar to the lower() method, but is stronger and helps with changing letters to lowercase in other languages.
* The difference between casefold and lower is: casefold works on unicode level and lower works on ascii level.
* Working rule:
   * string.casefold()  
   
#### Examples:

In [5]:
# Example1
str3 = 'hello CUTIE'
str3.casefold() #converted uppercase into lower in this example

'hello cutie'

In [6]:
# Example 2
str4 = 'Germen ss is ß'
str4.casefold() # converted special char into lower case and uppercase into lower case

'germen ss is ss'

#### Document of casefold

In [7]:
help(str4.casefold)

Help on built-in function casefold:

casefold() method of builtins.str instance
    Return a version of the string suitable for caseless comparisons.

## > Center
* It returns the string centered in a string of length width. Padding can be done using the specified fillchar (the default padding uses an space). 
* The original string is returned if width is less than or equal to length of string.
* The fillchsar must be 1 char long.
* Fillchar and the string length gives the total length in result whatever we width we give to it.
* Working rule:
     *  String.center(width, 'char')

#### Examples:

In [8]:
# Example 1
str5 = 'om namah shivay'
str5.center(31,' ')
# here width 31 and char space is given.

'        om namah shivay        '

In [9]:
# Example2
str5.center(51,'_') # here width is 51 and fillchar is underscore.

'__________________om namah shivay__________________'

In [11]:
#Example 3
str5.center(5) #here width is less than the length of string and no char is given for filling so it returned the 
#original string.

'om namah shivay'

#### Document of center

In [10]:
help(str5.center)

Help on built-in function center:

center(width, fillchar=' ', /) method of builtins.str instance
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

## > Count
* It returns the number of non-overlapping occurrences of substring (sub) in the range (start, end). Optional arguments startand end are interpreted as in slice notation.
* Working Rule: 
  * string.count('substring',start,end), if start, end is not mention ed it counts the occurance from the whole string.

#### Examples:

In [12]:
str2

'a loyal warrior will rarely worry why we rule.'

In [14]:
str2.count('w') #Here starting and end point is not given so it counted 'w' from whole the string.

5

In [15]:
str2.count('y') #similarly y is counted

4

In [17]:
str2.count('y',2,10) #counted y from 2nd index to 10th index of string.

1

In [19]:
str2.count('we') # we appeared  1 time in string

1

In [22]:
str2.count(' ') #counted space char from the string

8

#### Document of count

In [23]:
help(str2.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

## > Encode:
* Returns an encoded version of the string as a bytes object. The default encoding is utf-8. errors may be given to set a different error handling scheme. The possible value for errors are:
strict (encoding errors raise a UnicodeError)

ignore

replace

xmlcharrefreplace

backslashreplace

any other name registered


#### Example

In [138]:
mystr = 'python!'
>>> print('The string is:', mystr)

The string is: python!

## > Endswith
* It returns True if the string ends with the specified suffix, otherwise it returns False.
* It is a boolean string method.
* It can take multiple char as suffix.
* Working Rule: 
  * string.endswith('substring')


#### Examples:

In [29]:
str5

'om namah shivay'

In [30]:
# Example 1
str5.endswith('y')

True

In [32]:
#example2
str5.endswith('ya') # if given sequence of sabstring doesnt match with string then it gives "false"

False

In [34]:
#wxample3
str5.endswith('ay') # if sequence is correct then its true.

True

#### Document of Endswith

In [35]:
help(str5.endswith)

Help on built-in function endswith:

endswith(...) method of builtins.str instance
    S.endswith(suffix[, start[, end]]) -> bool

    Return True if S ends with the specified suffix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    suffix can also be a tuple of strings to try.

## > Expandtabs
* Returns a copy of the string where all tab characters are replaced by one or more spaces, depending on the current column and the given tab size.


#### Example

In [139]:
mystr = "1\t2\t3"
print(mystr)

1	2	3

In [140]:
print(mystr.expandtabs())

1       2       3

## > Find

* This method is used to find index of any particular charactor.
* find always tells the index from left to right of that particular string.
* If we specify about index from which we need to find, we can mention that also.

#### Here is example of find()

In [8]:
x = '''Betty Botter bought some butter
But she said the butter’s bitter
If I put it in my batter, it will make my batter bitter
But a bit of better butter will make my batter better
So ‘twas better Betty Botter bought a bit of better butter'''
x
xl = x.lower() #lowercases the string
xl

#We will operate methods on xl

'betty botter bought some butter\nbut she said the butter’s bitter\nif i put it in my batter, it will make my batter bitter\nbut a bit of better butter will make my batter better\nso ‘twas better betty botter bought a bit of better butter'

In [10]:
xl.find('y')

4

##### document of find()

In [5]:
help(xl.find)

Help on built-in function find:

find(...) method of builtins.str instance
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

* it says that for this we need to code find(subs, start, end)
  returns the lowest or ery first index of the substring or char.
  returns -1 on failure or if doesnot find

In [11]:
# For example if we find again
xl.find('some')

20

In [12]:
xl.find('z') # gives -1 because 'z' is not present in the string

-1

##  > rfind

* Works exactly like find but from right to left of the string


#### Document of rfind()

In [13]:
help(xl.rfind)

Help on built-in function rfind:

rfind(...) method of builtins.str instance
    S.rfind(sub[, start[, end]]) -> int

    Return the highest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

#### Example of rfind

In [14]:
xl

'betty botter bought some butter\nbut she said the butter’s bitter\nif i put it in my batter, it will make my batter bitter\nbut a bit of better butter will make my batter better\nso ‘twas better betty botter bought a bit of better butter'

* <u>gives only positive index but find a particular char or substring from right to left of the string </u>

In [15]:
xl.rfind('a')

211

In [16]:
xl.rfind('bought')

204

## > Count

* it helps to find the occurance of particular substring in the given string.
* execution is S.count('subs', start, end)

#### Document of count

In [20]:
help(xl.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

##### Here is the example of count

In [17]:
xl

'betty botter bought some butter\nbut she said the butter’s bitter\nif i put it in my batter, it will make my batter bitter\nbut a bit of better butter will make my batter better\nso ‘twas better betty botter bought a bit of better butter'

In [19]:
xl.count('bought')

2

 Hence bought is coming 2 times in given string

## > Index

* Index is used to find the index of that particular substring of a string.
* This works from left to right of a string and gives the first occuring index of that string
* this exactly works like <u>find</u> method but in failure it gives an error


#### Document of index

In [21]:
help(xl.index)

Help on built-in function index:

index(...) method of builtins.str instance
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

#### Here is an example of index

In [22]:
xl

'betty botter bought some butter\nbut she said the butter’s bitter\nif i put it in my batter, it will make my batter bitter\nbut a bit of better butter will make my batter better\nso ‘twas better betty botter bought a bit of better butter'

In [23]:
xl.index('she')

36

In [24]:
xl.index('u')

15

## > rindex
 * This gives index from right to left from the string.
 * This exactly works like rfind except in failure it throws an error
 
 
#### Doc of rindex

In [25]:
help(xl.rindex)

Help on built-in function rindex:

rindex(...) method of builtins.str instance
    S.rindex(sub[, start[, end]]) -> int

    Return the highest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

#### Example of rindex()

In [26]:
xl

'betty botter bought some butter\nbut she said the butter’s bitter\nif i put it in my batter, it will make my batter bitter\nbut a bit of better butter will make my batter better\nso ‘twas better betty botter bought a bit of better butter'

In [28]:
xl.rindex('of')

217

## > Replace

* In this method we can replace any substring by whatever we want to
* we can code s.replace('old char', 'new char')

#### Doc of replace()

In [29]:
help(xl.replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

#### Example of replace

In [30]:
xl

'betty botter bought some butter\nbut she said the butter’s bitter\nif i put it in my batter, it will make my batter bitter\nbut a bit of better butter will make my batter better\nso ‘twas better betty botter bought a bit of better butter'

In [31]:
xl.replace('butter', 'bubble')

'betty botter bought some bubble\nbut she said the bubble’s bitter\nif i put it in my batter, it will make my batter bitter\nbut a bit of better bubble will make my batter better\nso ‘twas better betty botter bought a bit of better bubble'

In [32]:
m = 'malayalam'
m.replace('m', 'M')

'MalayalaM'

## > Split

* Splits from each space gap of string.
* We can code for split S.split(sep=none, maxsplit=-1)
* We can add maxsplit by putting no of splits or breaks we want.

#### Doc of split()

In [33]:
help(xl.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

#### Example of Split

In [35]:
xl.split() #splits from each space gap if nothing is mentioned for splitting

['betty',
 'botter',
 'bought',
 'some',
 'butter',
 'but',
 'she',
 'said',
 'the',
 'butter’s',
 'bitter',
 'if',
 'i',
 'put',
 'it',
 'in',
 'my',
 'batter,',
 'it',
 'will',
 'make',
 'my',
 'batter',
 'bitter',
 'but',
 'a',
 'bit',
 'of',
 'better',
 'butter',
 'will',
 'make',
 'my',
 'batter',
 'better',
 'so',
 '‘twas',
 'better',
 'betty',
 'botter',
 'bought',
 'a',
 'bit',
 'of',
 'better',
 'butter']

In [37]:
xl.split(' ', 5) #splits till 5th gap from left side of the string

['betty',
 'botter',
 'bought',
 'some',
 'butter\nbut',
 'she said the butter’s bitter\nif i put it in my batter, it will make my batter bitter\nbut a bit of better butter will make my batter better\nso ‘twas better betty botter bought a bit of better butter']

## > rsplit
 
* It works like split only but from right side of the string.
* we only can find difference between split and rsplit if the maxsplit is given because split works from left to right and rsplit works from right to left.

#### Doc of rsplit

In [38]:
help(xl.rsplit)

Help on built-in function rsplit:

rsplit(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Splitting starts at the end of the string and works to the front.

#### Example of rsplit

In [39]:
xl.rsplit(' ', 4) # Splitted from right to left of the string from space gaps

['betty botter bought some butter\nbut she said the butter’s bitter\nif i put it in my batter, it will make my batter bitter\nbut a bit of better butter will make my batter better\nso ‘twas better betty botter bought a',
 'bit',
 'of',
 'better',
 'butter']

In [40]:
a = 'I am not joking'
a.rsplit(' ', 2)

['I am', 'not', 'joking']

## > Partition and rpartition

* Partition always parts string into 3 slices.
* If there is nothing for partitioning then it gives an empty string.
* So if we concatinate the strings then we always will get the original string.
* Partition parts the string from left to right and similarly rpartition parts the string from right to left.

#### Doc of partition

In [41]:
help(xl.partition)

Help on built-in function partition:

partition(sep, /) method of builtins.str instance
    Partition the string into three parts using the given separator.

    This will search for the separator in the string.  If the separator is found,
    returns a 3-tuple containing the part before the separator, the separator
    itself, and the part after it.

    If the separator is not found, returns a 3-tuple containing the original string
    and two empty strings.

In [42]:
help(xl.rpartition)

Help on built-in function rpartition:

rpartition(sep, /) method of builtins.str instance
    Partition the string into three parts using the given separator.

    This will search for the separator in the string, starting at the end. If
    the separator is found, returns a 3-tuple containing the part before the
    separator, the separator itself, and the part after it.

    If the separator is not found, returns a 3-tuple containing two empty strings
    and the original string.

#### Example of partition and rpartition

In [45]:
a.partition(' ') #parted into 3 pieces from first space gap

('I', ' ', 'am not joking')

In [47]:
a.partition('am') #parted from where am is given in the string

('I ', 'am', ' not joking')

In [48]:
xl

'betty botter bought some butter\nbut she said the butter’s bitter\nif i put it in my batter, it will make my batter bitter\nbut a bit of better butter will make my batter better\nso ‘twas better betty botter bought a bit of better butter'

In [49]:
xl.rpartition('bit') # converted whole string into 3 touples from right to left bcz its rpartition

('betty botter bought some butter\nbut she said the butter’s bitter\nif i put it in my batter, it will make my batter bitter\nbut a bit of better butter will make my batter better\nso ‘twas better betty botter bought a ',
 'bit',
 ' of better butter')

## > Splitlines

* It splits the string into lines as given.
* Working Rule:
  * string.splitlines()

#### Doc of splitlines

In [50]:
help(xl.splitlines)

Help on built-in function splitlines:

splitlines(keepends=False) method of builtins.str instance
    Return a list of the lines in the string, breaking at line boundaries.

    Line breaks are not included in the resulting list unless keepends is given and
    true.

#### Example of splitlines

In [54]:
xl.splitlines() # whole string is splitted into lines

['betty botter bought some butter',
 'but she said the butter’s bitter',
 'if i put it in my batter, it will make my batter bitter',
 'but a bit of better butter will make my batter better',
 'so ‘twas better betty botter bought a bit of better butter']

## > Format
* It Performs a string formatting operation. The string on which this method is called can contain literal text or replacement fields delimited by braces {}.
* Working Rule:
    * string.format(*args, **kwargs)
    
#### Examples

In [48]:
print('{} and {}'.format('Apple', 'Banana'))

Apple and Banana

#### Document of format

In [49]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

## > format_map
* Similar to format(**mapping), except that mapping is used directly and not copied to a dictionary.
* working rule:
  * string.format_map(mapping)


#### Example

In [52]:
lunch = {"Food":"Pizza", "Drink": "Wine"}
print("Lunch: {Food},{Drink}".format_map(lunch))

Lunch: Pizza,Wine

#### Document of format_map

In [50]:
help(str.format_map)

Help on method_descriptor:

format_map(...)
    S.format_map(mapping) -> str

    Return a formatted version of S, using substitutions from mapping.
    The substitutions are identified by braces ('{' and '}').

## > isalnum
* It is boolean method.
* Returns True if all characters in the string are alphanumeric
* Returns false if string has space gap.
* Working Rule: 
   * string.isalnum()
   
#### Example

In [58]:
str = 'om namah shivay'

In [59]:
str5.isalnum()

False

In [65]:
mystring='Hello World'

In [66]:
mystring.isalnum()

False

In [62]:
str6= '1234'

In [64]:
str6.isalnum()

True

In [67]:
str6='!@#$$#'

In [68]:
str6.isalnum()

False

#### Document of isalnum

In [54]:
help(str.isalnum)

Help on method_descriptor:

isalnum(self, /)
    Return True if the string is an alpha-numeric string, False otherwise.

    A string is alpha-numeric if all characters in the string are alpha-numeric and
    there is at least one character in the string.

## > isalpha
* Returns True if all characters in the string are in the alphabet
* Do not consider space gap, gives false then
* Working rule:
  * string.isalpha()


#### Example

In [69]:
mystring

'Hello World'

In [70]:
mystring.isalpha()

False

In [71]:
mystring='HelloWorld'

In [73]:
mystring.isalpha()

True

#### Document of isalpha

In [74]:
help(str.isalpha)

Help on built-in function isalpha:

isalpha() method of builtins.str instance
    Return True if the string is an alphabetic string, False otherwise.

    A string is alphabetic if all characters in the string are alphabetic and there
    is at least one character in the string.

## isdecimal
* Returns True if all characters in the string are decimals
* gives true only in number values
* woprking ruler:
  * strin g.isdecimal()

#### Example

In [84]:
mystring

'HelloWorld'

In [85]:
mystring.isdecimal()

False

In [87]:
str6

'!@#$$#'

In [88]:
str6.isdecimal()

False

In [89]:
str7='12345'

In [90]:
str7.isdecimal()

True

In [91]:
str8='11.23'

In [92]:
str8.isdecimal()

False

#### Document of isdecimal

In [76]:
help(str.isdecimal)

Help on built-in function isdecimal:

isdecimal() method of builtins.str instance
    Return True if the string is a decimal string, False otherwise.

    A string is a decimal string if all characters in the string are decimal and
    there is at least one character in the string.

## isdigit()
* Returns True if all characters in the string are digits
* working:
  * s.isdigit()
  
#### Example

In [96]:
c="133"
print(c.isdigit())

True

In [97]:
c = u"\u00B2"
print(c.isdigit())

True

In [98]:
a="1.23"
print(a.isdigit())

False

## > isidentifier
* Returns True if the string is an identifier
* working:
  * s.isidentifier()

#### Examples

In [99]:
c="133"
print(c.isidentifier())

False

In [100]:
c="_user_123"
print(c.isidentifier())

True

In [101]:
c="_user_123"
print(c.isidentifier())

True

## > islower
* Returns True if all characters in the string are lower case
* working:
  * s.islower()
  
#### Example

In [102]:
c="Python"
print(c.islower())

False

In [104]:
c="_user_123"
print(c.islower())

True

## > isnumeric
* Returns True if all characters in the string are numeric
* working:
  *. s.isnumeric()
  
 #### Example

In [105]:
c="133"
print(c.isnumeric())

True

In [106]:
c="Python"
print(c.isnumeric())

False

## > isprintable
* Returns True if all characters in the string are printable
* Working:
  * s.isprintable()
  
#### Example

In [107]:
c="\t"
print(c.isprintable())

False

In [108]:
c="_user_123"
print(c.isprintable())

True

## > isspace
* Returns True if all characters in the string are whitespaces
* working:
  * s.isspace()
  
#### Exampleas

In [109]:
c="Hello Python"
print(c.isspace())

False

In [110]:
c="\t"
print(c.isspace())

True

In [111]:
c="   "
print(c.isspace())

True

## > istitle
* Returns True if the string follows the rules of a title
* working:
  * s.istitle()
  
#### Examples

In [112]:
c="133"
print(c.istitle())

False

In [113]:
 c="Python"
print(c.istitle())

True

In [114]:
c="\t"
print(c.isspace())

True

## > isupper
* Returns True if all characters in the string are upper case
* working:
  * s.isupper()
  
#### Examples

In [115]:
c="Python"
print(c.isupper())

False

In [116]:
c="PYTHON"
>>> print(c.isupper())

True

## > join
* Joins the elements of an iterable to the end of the string
* working:
  char.join('s')
  
#### Example

In [117]:
z = 'jai mata di'
y = z.split()
y

['jai', 'mata', 'di']

In [118]:
'**'.join(y)

'jai**mata**di'

In [119]:
a ="-"
print(a.join("123"))

1-2-3

## > ljust
* Returns a left justified version of the string
* working 
  * s.ljoin(digit,"char")
  
#### Example

In [120]:
a="Hello"
b = a.ljust(12, "_")
print(b)

Hello_______

## > lower
* Converts a string into lower case
* working
  * s.lower()

#### Example

In [121]:
c="Python"
print(c.lower())

python

In [122]:
c="PYTHON"
>>> print(c.lower())

python

## > lstrip
* Returns a left trim version of the string
* works from the left side of the string
* working
  * s.lstrip()
  
#### Example

In [123]:
p = '  hello how is life going. '
p

'  hello how is life going. '

In [124]:
p.lstrip() #removes white space from the left by default

'hello how is life going. '

In [125]:
p.lstrip(' hello')

'w is life going. '

## > rstrip
* Returns a right trim version of the string


#### Examples

In [126]:
p.rstrip() #by default it strips space from right

'  hello how is life going.'

In [127]:
p.rstrip(' .g')

'  hello how is life goin'

In [128]:
p.rstrip('@#') #nothing will happen bcz char is not matching to the string which is to be removed,

'  hello how is life going. '

## > rjust
* Returns the string right justified in a string of length width.


#### Example

In [129]:
mystr = "Hello Python"
mystr1 = mystr.rjust(20,
"-")
print(mystr1)

--------Hello Python

## > Startswith
* Returns true if the string starts with the specified value


#### Example

In [130]:
mystr = "Hello Python"
print(mystr.startswith("P"))

False

In [131]:
print(mystr.startswith("H"))

True

## swapcase
* Swaps cases, lower case becomes upper case and vice versa


#### Example

In [132]:
mystr = "Hello PYthon"
>>> print(mystr.swapcase())

hELLO pyTHON

## > title
* Converts the first character of each word to upper case


#### Example

In [133]:
mystr = "Hello PYthon"
>>> print(mystr.title())

Hello Python

In [134]:
mystr = "HELLO JAVA"
>>> print(mystr.title())

Hello Java

## > upper
* Converts a string into upper case


#### Example

In [135]:
mystr = "hello Python"
>>> print(mystr.upper())

HELLO PYTHON

## > zfill
* Fills the string with a specified number of 0 values at the beginning
  
  
#### Example

In [136]:
mystr = "999"
>>> print(mystr.zfill(9))

000000999

In [137]:
mystr = "-40"
>>> print(mystr.zfill(5))

-0040

### > maketrans and translate

In [1]:
v = '*@!anything!@*'
d = v.maketrans({'@': '5',
                '!': '7',
                'a': 'zz'})
d #it maximum can take 3 arguments # the values changed into these given values # wen ascii values will show it will 
#changge automatically

{64: '5', 33: '7', 97: 'zz'}

In [2]:
v.translate(d)

'*57zznything75*'